* {
  margin: 0px;
  padding: 0px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
  flex-wrap: wrap;
}
.logo {
  flex: 0.2;

  display: flex;
  justify-content: center;
}
.logo > img {
  width: 150px;
  cursor: pointer;
}
.nav-link {
  flex: 0.3;
  flex-wrap: wrap;
}
.nav-link > ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  
}
.nav-link > ul > li {
  padding: 5px 5px;

  border-bottom: 5px solid #ffff;
}
.nav-link > ul > li > a {
  color: #6b6b6b;
  text-decoration: none;
  padding: 10px;
}
.nav-link > ul > li > a:hover {
  color: #000;
}
.nav-link > ul > li:hover {
  color: #000;
  border-bottom: 5px solid #5243c0;
}

.acc-button {
  flex: 0.2;
  padding: 10px;
}
.acc-button > button {
  padding: 15px;
  border-radius: 15px;
  border: none;
  background-color: #ffd8db;
  cursor: pointer;
  font-size: 14px;
}
.body {
  display: flex;
  height: 90vh;
  align-items: center;  
  flex-wrap: wrap;
}
.content {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.content-heading {
  width: 60%;
  flex: 0.2;
}
.content-heading > h1 {
  font-size: 75px;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 100px;
}
.content-heading > h1 > span {
  color: #a389cc;
}
.content-para {
  padding-top: 25px;
  width: 60%;
}
.content-para > p {
  color: #6b6b6b;
  line-height: 25px;
}
.image {
  flex: 0.6;
  display: flex;
  justify-content: center;
}
.image > img {
  width: 60%;
  height:60%;
}
.content-btn-main {
  display: flex;
  margin-top: 25px;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
.content-btn {
  display: flex;

  width: 70%;
  justify-content: space-between;
}
.content-btn > button {
  background: #5243c0;
  border: none;
  padding:10px 35px;
  border-radius: 25px;
  color: #ffff;
  font-size: 14px;
  cursor: pointer;
}
.content-btn>img{
    cursor: pointer;
    position: relative;
    float: left;
}
.content-bottom-card{
    display: flex;
    height: 40vh;   
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}
.content-card-main{
    display: flex;
    flex: 0.7;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:60%;
}
.content-card{
    display: flex;
    align-items: center;
    width: 70%;
    padding: 10px 15px;
    border-radius:15px ;
    justify-content: space-between;
    background-color: #f0efef;
    margin: 5px;
    cursor: pointer;
}
.content-card:hover{
    background-color: #ffffff;
    /* transition: top ease 0.5s; */
    /* transition: 0.5s; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* margin-top: -50px; */

}

.content-card .hoverImg {
    display: none;
  }
  .content-card:hover .imageInn{
    display: none;
  } 
  
  .content-card:hover .hoverImg {
    display: block;
  }

.name{
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content-card-date{
    color: rgb(190, 190, 190);
}
.content-card>span{
 border: 1px ;
 padding: 5px 15px;
 background-color: pink;
 border-radius: 15px;

}
